body {
  font-family: sans-serif;
}

.container {
  background-color: $sideBarBackgroundColor;
}

.page-wrapper {
  background-color: $mainBodyBackgroundColor;
}

.sub-heading {
  color: $subHeadingColor;

  &:after {
    @include element-border-bottom;
  }
}

