.container {
  display: flex;
  flex-flow: row nowrap;
}

.page-wrapper {
  display: inline-flex;
  width: 100%;
}

main {
  width: $mainContentWidth;
}

aside {
  //display: inline-flex;
  width: $asideWidth;
  height: 100vh;
}

.main-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.news-section {
  display: flex;
  flex-flow: row wrap;
}

