$brandColor: rgba(14, 95, 227, 1);
$brandSecondaryColor: rgba(140, 140, 140, 1);
$subHeadingColor: rgba(140, 140, 140, 1);
$mainBodyBackgroundColor: rgba(245, 245, 245, 1);
$sideBarBackgroundColor: white;
$labelBackgroundColor: rgb(108,91,195);
$labelColor: white;
$menuBackgroundColor: rgb(232,240,252);

$mainContentWidth: 74rem;
$asideWidth: 18rem;
$newsWith: 20rem;
$pageGuitter: 1.5rem;