.main-heading {
  position: relative;

  h3 {
    font-weight: normal;
  }

  .heading-button {
    display: flex;
    position: relative;

    > a {
      display: none;
    }

    &:before {
      @include expandable-dot();
    }
  }

  .btn {
    margin-left: $pageGuitter/2.5;
  }

  #toggle-mob {
    position: absolute;
  }

  .heading-title {
    margin-left: 3rem;
  }

  @include ipad-and-above {
    #toggle-mob {
      display: none;
    }

    .heading-title {
      margin-left: 0;
    }

    .heading-button {
      > a {
        display: inline-flex;
      }

      &:before {
        display: none;
      }
    }
  }
}