aside {
  display: none;

  @include ipad-and-above {
    display: inline-flex;
    /*background-color: $sideBarBackgroundColor;*/
    height: 100vh;
  }
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  .top-menu {
    padding-bottom: $pageGuitter;
  }

  .bottom-menu {
    margin-bottom: $pageGuitter * 2;
  }

}

.menu-item {
  width: 83%;
  padding: 0.625rem 1.125rem;
  margin: 1rem 0;
  display: flex;
  font-size: 1rem;
  text-decoration: none;
  color: $brandSecondaryColor;
  transition: 0.5s;
  @include element-border-radius();

  &:before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: $pageGuitter;
    background: $brandSecondaryColor;
  }

  &:hover {
    background-color: $menuBackgroundColor;
    color: $brandColor;

    &:before {
      background-color: $brandColor;
    }
  }
}