.news-section {
  min-height: 8rem;
  position: relative;
}

.news-body {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  width: 90%;
  min-height: 8rem;
  background-color: white;
  margin-right: $pageGuitter;

  @include element-border-radius(12px, 12px, 12px, 12px);

  .heading {
    line-height: 1.5rem;
    color: black;
  }

  .date {
    color: $subHeadingColor;
  }
}

.news-nav {
  display: flex;
  width: 96.5%;
  justify-content: center;
  padding-top: $pageGuitter * 0.25;
  margin-bottom: -$pageGuitter;

  div {
    text-indent: -60000px;

    &:after {
      content: '';
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      margin-right: $pageGuitter;
      background: $brandSecondaryColor;
      @include element-border-radius(50%);
    }
  }

  .active:after {
    background: $brandColor;
  }

}

@include ipad-and-above {
  .news-body {
    position: relative;
    width: $newsWith;
    margin-bottom: 1rem;
  }

  .news-nav {
    display: none;
  }

}